.HotelCard{
  border: 1px solid grey;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  .hotelCard__time{
    cursor: pointer;
    transition: .3s;
    margin-left: 5px;
    color: #9e9e9e;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}