.Tour{
  .tour-main{
    display: flex;
    .tour-gallery{
      width: 50%;
    }
  }
  .flights{
    .flights-wrapper{
      display: flex;
      .flights-block{
        width: 35%;
        flex: none;
        .flights-info{
          padding-bottom: 20px;
        }
        p{
          margin: 0 0 5px;
        }
        span{
          color: #847577;
          display: block;
        }
      }
      ul{
        align-self: center;
      }
    }
  }
  .tour-description{
    margin-bottom: 40px;
  }
  .tour-services{
    .TP__services_list{
      padding: 0;
      column-count: 3;
      margin: 0;
      h3{
        margin-top: 0;
      }
      &:not(:empty){
        margin-bottom: 40px;
      }
    }
    .TP__services_list__group{
      position: relative;
      padding-left: 50px;
      //page-break-inside: avoid;
      break-inside: avoid-column;
      padding-top: 4px;
      margin-bottom: 16px;
    }
  }
  .tour__reviews{
    ul{
      padding: 0;
      list-style: none;
    }
  }
}