.header{
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__user{
      list-style: none;
      display: flex;
      li{
        cursor: pointer;
        transition: .3s;
        &:not(:last-of-type){
          margin-right: 10px;
        }
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}