.header{
  position: relative;
  .header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}
.nav{
  ul{
    padding-right: 50px;
    list-style: none;
    display: flex;
    li{
      cursor: pointer;
      transition: .3s;
      &:not(:last-of-type){
        margin-right: 10px;
      }
      &:hover{
        opacity: .7;
      }
      a{
        text-decoration: none;
        color: inherit;
      }
    }
  }
}