body{
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
  background-color: #e5edf4;
  padding: 20px 0;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 500;
}
.App{
  background-color: #fff;
  .container {
    padding: 16px 50px;
  }
}