:root {
  --color-primary-100: #C9EBF9;
  --color-primary-300: #5EABDC;
  --color-primary-500: #3f51b5;
  --color-primary-active: #900022;
  --color-neutrals-0: #ffffff;
  --color-neutrals-100: #F7F9FA;
  --color-neutrals-200: #f2f6f9;
  --color-neutrals-300: #e5edf4;
  --color-neutrals-400: #d0ddeb;
  --color-neutrals-500: #8095B2;
  --color-neutrals-1000: #000000;
  --color-error-100: #F9CEC7;
  --color-error-400: #DD585E;
  --color-error-500: #900022;
  --color-warning-100: #FDF3CB;
  --color-warning-300: #F5CD64;
  --color-warning-500: #E09304;
  --color-success-100: #E1F9D0;
  --color-success-150: #CFF6BA;
  --color-success-200: #BDF3A3;
  --color-success-250: #A4E789;
  --color-success-300: #8ADB6F;
  --color-success-400: #5DB64E;
  --color-success-500: #228719;
  --color-success-600: #36731C;
  --color-success-700: #2C601A;
}